body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  font-size: 14px;
  color: black;
  width:100%;
}

h1 {
  font-size: 70px;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.header {
  background-image: url("./resources/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 280px;
  padding: 10px;
}

.menu li {
  font-size: 18px;
  list-style-type: none;
  }

.menu li a {
    color: white;
  }

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
  width: 100%;
  padding: 10px;
}

.footer ul.menu li {
  display: inline-block;
}
.divider {
  color: white;
  background-image: url("resources/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}
